html, body
{
    height: 100%;
}

#board {
    background-color:#6497b1;
    height:100px;
    width:100px;
    display: inline-block;
    margin: 10px;
}

#container{
    margin-top: 50px;
    height: 100%;
}
