html, body
{
    height: 100%;
}

.board {
    background-color:#A9A9A9;
    height: 230px;
    width:200px;
    margin: 10px;
    border-radius: 5px;
}

.title {
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 30px;
    font-size: 200%;

    /*border-bottom: 5px solid white;*/
}

.upper{
    border-bottom: 5px solid white;
    text-align: center;
    margin-top: 3px;
}

.bottom {
    text-align: center;
}

span.bottom-sign {
    font-size: 6.5em;
    line-height: 150%;
    color: white;
}


.title-holder {
    border-bottom: 3px solid white;
}

#container{
    margin-top: 50px;
    height: 100%;
}

#big_board {
    margin-top: 60px;
}

#show-edit {
    display: none;
}

#show-edit, #show-text {
    height: 60px;
}
