#title {
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px #000000;
}

#board {
    background-color: saddlebrown;
    height: 50px;
    margin: 60px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}