{% extends "wrapper.html" %}
{% block title %}Boards{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}


{% block content %}



<div id="big_board" class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <div class="board thumbnail"><p class="title">Hali</p></div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class="board thumbnail"><span class="too-long title">Lorem nem tudom hogy mi ez az egész de hogy működik-e azt kéne kideríteni erggggggggggggggaehg ehetzh  e4zhe4zhe e ezheh wertgerg  wefwipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>
        </div>
    </div>

</div>
<!-- <div id="new-tile" class="col-md-2">Próba</div> -->




{% endblock content %}
