{% extends "wrapper.html" %}
{% block title %}Boards{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}


{% block content %}

<!-------------------------------------------------------------------------------------------------------------------->

<div id="big_board" class="container-fluid">
    <div class="row">

<!-------------------------------------------------------------------------------------------------------------------->

        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <div class="board thumbnail">
                <span class="title">Hali</span>
            </div>
        </div>

<!-------------------------------------------------------------------------------------------------------------------->

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class="board thumbnail" id="board-adder-tile">

                <div class="upper" id="show-text">
                    <span class="title">New Board</span>
                </div>

                <div class="upper" id="show-edit">
                    <input id="title-input" type="text" class="form-control input-lg" name="title-from-tile" placeholder="Title">
                </div>
                <div class="bottom">
                    <span class="glyphicon glyphicon-plus-sign bottom-sign" id="create_new_board_tile"></span>
                </div>
            </div>
        </div>

<!-------------------------------------------------------------------------------------------------------------------->

    </div>
</div>

<!-------------------------------------------------------------------------------------------------------------------->





{% endblock content %}
