{% extends "wrapper.html" %}
{% block title %}Boards{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}


{% block content %}

<!-------------------------------------------------------------------------------------------------------------------->

<div id="big_board" class="container-fluid">
    <div class="row">

<!-------------------------------------------------------------------------------------------------------------------->

        <div class="col-lg-2 col-md-3 col-xs-4 thumb">
            <div class="board thumbnail">
                <span class="title">Hali</span>
            </div>
        </div>

<!-------------------------------------------------------------------------------------------------------------------->

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class="board thumbnail">
                <div class="upper">
                    <span class="title">Lorem nem tudom hogy mi ezrthrstjr tr ujtrzjdtzj rtjrstj az egéthee szx ea commodo consequat.</span>
                </div>
                <div class="bottom">
                    <span class="glyphicon glyphicon-plus-sign bottom-sign"></span>
                </div>
            </div>
        </div>

<!-------------------------------------------------------------------------------------------------------------------->

    </div>
</div>

<!-------------------------------------------------------------------------------------------------------------------->





{% endblock content %}
